.card__icon-like {
  width: 22px;
  height: 19px;
  border: none; /*сброшены заданные браузером границы*/
  padding: 0; /*сброшены заданные браузером внутренние отступы*/
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.card__icon-like:hover {
  opacity: 0.5;
  background-image: url(../../../images/icon-like-active.svg);


}
