/*КОММЕНТАРИЙ ДЛЯ РЕВЬЮЕРА:
Смещение сделано нарочно в связи с тем,
что этого требует дизайн в Фигме, т.е. по дизайну в Фигме кнопка
редактирования нахоится правее относительно центра, чем весь контент
(на маленьком разрешении (@media screen and (max-width: 919px)) контент выглядит
как неотцентрован и как будто смещен из-за того,
что кнопка редактирования не участвует вместе со всем контентом в отцентровке)*/
.profile__info-container {
  padding-left: 30px;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 919px) {
  .profile__info-container {
    padding-left: 28px; /*чтобы не нарушилась отцентровка, компенсированы отступ перед кнопкой редактирования 10px и ширина самой кнопки 18px*/
  }
}
