.header {
  padding-top: 45px;
  max-width: 880px;
  margin: 0 auto;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 919px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}
